@import '../../../../utils/theme-vars.styl'

.align
  align-items baseline
.link
  height 26px
  border-bottom 1px solid rgba(255,255,255,0.15)
  &:hover
    color rgba(255,255,255,0.8)
.copyButton
  border-radius 3px
  height 25px
  line-height 25px
  text-align center
.publishButton
  height 40px
  line-height 40px
  background #467fcc
  border-radius 3px
  text-align center
  font-size 16px
.disableButton
  cursor not-allowed
  color rgba(255,255,255,0.24)
.onlineCircle
  width 5px
  height 5px
  border-radius 5px
  margin-right 4px
.themeColorBg
  background themeColor
.tipsBtn
  color: #00B7FF

