.login
  position absolute
  min-width 1000px
  min-height: 700px
  background-size 100% 100%
.centerArea
  width: 960px
  height: 540px
  box-shadow: 0px 0px 50px rgba(0,0,0,.3)
.sloganArea
  background-size 100% 100%
  padding-top: 30%
  .sloganTitle
    width: 40%
  .slogan
    text-align-last justify
    margin: 5px 0
  .feature
    color rgb(138,197,252)
  .dot
    width: 2px
    height: 2px
    margin-right: 10px
    background-color: rgb(138,197,252)
    border-radius: 100%
  .splitLine
    height: 1px
.formArea
  color: rgb(0,110,255)
  .formContainer
    padding:  60px
  form
    padding-top: 48px
  input
    border: none
    border-bottom: 2px solid #eeeeee
  .sendCode
    position: absolute
    right: 0
  .sendButton
    background: linear-gradient(to right, rgb(0,110,254) , rgb(138,197,252))
.tip
  bottom: 540px
  background-color: rgba(252,103,123,.5)
.copyright
  position: absolute
  bottom: 20px
