@import '../../../../utils/theme-vars.styl'

.cancelButton, .createButton
  width 100px
  padding 0 14px
  line-height 32px
  cursor pointer
  font-weight 400
  display flex
  justify-content center
  align-items center
  font-size 14px
.cancelButton
  background-color rgba(255,255,255,0.08)
.createButton
  background-color themeColor
.removeButton
  right 0
  top 0
.thumbs
  overflow auto
.uploadArea
  width 420px
  height 150px
  border 1px dashed rgba(255,255,255, 0.3)
  cursor pointer
.preview
  height 360px
.previewImg
  max-height 200px
  max-width 100%
.thumb
  min-height 30px