@import '../../../utils/theme-vars.styl'
.initContent
  width 570px
  min-height 240px
  background-color rgba(255, 255, 255, 0.08)
  box-shadow 0 0 0px 12px rgba(255,255,255,0.02)
  border 1px solid rgba(0,0,0,1)
.input
  font-size 18px
  font-weight 100
  text-align center
.closeButton
  top 0
  right 0

.textInput
  height 24px
  input
    background #0000
    outline none
    border none
    border-bottom 1px solid rgba(255,255,255,0.1)
    transition border-bottom 0.3s ease
    width 350px
    &:focus
      border-bottom 1px solid themeColor