
@import '@utils/theme-vars.styl'

.button
  cursor pointer
  overflow hidden
  color #ddd
  text-align center
  display inline-grid
  box-sizing border-box
  user-select none
  &:hover
    color #fff
  &:active
    opacity .9
    box-shadow 0 0 30px #fff1

.text
  color themeColor
  background #0000 !important
  padding 0 !important
  &:active
    box-shadow none !important

.primary
  background-color themeColor

.default
  background-color rgba(255, 255, 255, .1)
.cancel
  border none
  background-color rgba(255, 255, 255, .2)

.dashed
  line-height 26px
  border 1px dashed #434343
  background-color #fff0

.defaultSize
  font-size 14px
  padding 5px 10px

.smallSize
  font-size 12px
  padding 3px 6px

.largeSize
  padding 5px 15px
  font-size 16px

.disabled
  opacity .7
  cursor not-allowed