@import '../../utils/theme-vars.styl'
.root
  overflow hidden
.head
  height 32px
  line-height 32px
  background-image linear-gradient(to top, rgba(0,0,0,0.2), transparent 60%)
.name_box
  overflow-x scroll
  border-left 1px solid rgba(255, 255, 255, .1)
  border-right 1px solid rgba(255, 255, 255, .1)
  &::-webkit-scrollbar
    height 0
    width 0
  >div
    flex none
.name
  border-bottom 2px solid transparent
  padding 0 8px
  &_active
    border-bottom-color themeColor!important
    background-image linear-gradient(to top, rgba(255,255,255,0.06), transparent 60%)
.content
  top 0
  left -10000000px
  position absolute
  overflow hidden
  &_active
    left 0
    display contents