@import '../../utils/theme-vars.styl'
.item
  cursor pointer
  border-bottom 1px solid rgba(0,0,0,0.2)
  border-left 4px solid rgba(0,0,0,0.2)
  &:last-child
    border-bottom none
  &:hover
    background-color themeColor

.menuBox
  background-color rgba(75,75,75,0.5)
