.box
  border 1px dashed rgba(255, 255, 255, 0.1)
  height 154px
  width  308px
.middleBox
  top 32px
  right 32px
  bottom 32px
  left 32px
  z-index -1
.line
  cursor pointer
  position absolute

  &_top
    border-left 1px solid
    height 32px
    width  10px
    color red
    top 0
  &_left
    border-top 1px solid
    height 10px
    width  32px
    color red
    left 0
  &_right
    border-top 1px solid
    height 10px
    width  32px
    color red
    right 0
  &_bottom
    border-left 1px solid
    height 32px
    width  10px
    color red
    bottom 0
  &_height
    border-left 1px solid
    height 90px
    width  10px
    color red
    top 32px
  &_width
    left 32px
    border-top 1px solid
    height 10px
    width  244px
    color red
.notAllowCheck
  cursor not-allowed
.isChecked
  color blue