@import '../../../utils/theme-vars.styl'

.cancelButton, .createButton, .removeProjectButton
  padding 0 14px
  height 32px
  line-height 32px
  cursor pointer
  text-align center
  font-weight 400
.cancelButton
  margin-left 128px
  background-color rgba(255,255,255,0.08)
.createButton
  background-color themeColor
.unpublishedNote
  border 1px dashed rgba(255,255,255,0.2)
  color rgba(255,255,255,0.5)
  padding 8px
  text-align: center
.removeProjectNote
  border 1px dashed orange
  color orange
  line-height: 1.5
  font-weight 400
.removeProjectButton
  background-color orange