.info
  color #004085
  background-color #cce5ff
.success
  color #155724
  background-color #d4edda
.error
  color #721c24
  background-color #f8d7da
.warning
  color #856404
  background-color #fff3cd

.message
  z-index 23000
  position absolute
  max-width 50%
  word-wrap break-word
  left 50%
  top 50px
  text-align center
  font-size 16px
  font-weight normal
  padding 5px 10px
  transform translateX(-50%)
  display flex
  flex-direction row
  align-items center

.icon
  fill #00000088
  margin-left 5px
