.wave-legends
  overflow initial
  ul
    display flex
    flex-wrap wrap
    li
      height 100%
      display flex
      align-items center
      b
        display block
        border-radius 100%
  ul.wave-legend-right
    justify-content flex-end
  ul.wave-legend-left
    justify-content flex-start
  ul.wave-legend-center
    justify-content center
  ul.wave-legend-all
    justify-content space-between
  ul.wave-legend-vertical
    align-items flex-end
    
