borderColor = #161616
.row
  border-bottom 1px solid borderColor
  &:last-child
    border-bottom 0
.item
  // padding-top 100%
  border-right 1px solid borderColor
  overflow hidden
  &:last-child
    border-right 0
  // 使用before和after来实现正方形，不需要额外的元素
  &:before
    content ''
    padding-top 100%
    float left
  &:after
    content ''
    display block
    clear both

.itemHover
  &:hover
    background-color rgba(0,0,0,0.2)