.initContent
  width 580px
  min-height 160px
  // background-color rgba(255, 255, 255, 0.08)
  // box-shadow 0 0 0px 12px rgba(255,255,255,0.02)
  // border 1px solid rgba(0,0,0,1)

.unpublishedNote
  border 1px dashed rgba(255,255,255,0.2)
  color rgba(255,255,255,0.5)
  padding 8px
  text-align center
.removeProjectNote
  border 1px dashed orange
  color orange
  line-height 1.5
  font-weight 400
.removeProjectButton
  background-color orange
  padding 0 14px
  height 32px
  line-height 32px
  cursor pointer
  text-align center
  font-weight 400