@import '../../../utils/theme-vars.styl'
  
.text
  color #bbb
  line-height 24px
.input
  height 24px
  line-height: 24px
  background-color: transparent
  border none
  border-bottom 1px solid rgba(255,255,255,0.1)
  outline none
  padding 0
  width 100%
  color #fff
  transition border-bottom 0.3s ease
  &:focus
    border-bottom 1px solid themeColor
  &:disabled
    color #999
.button
  background-color rgba(255,255,255,0.1)
  text-align center
  border-radius: 4px
  overflow hidden
  height 24px
  &:hover
    color #fff
  &:active
    opacity .9
    box-shadow 0 0 30px #fff1
    height 24px
.drop
  right 8px
  margin auto

.overlay
  background-color transparent
  z-index 21100
  // box-shadow none
  &_content
    border: none
    box-shadow none
    background-color transparent

.dataSourceListModel
  maxHeight 200px

.saveButton
  width auto
  margin-left 13px
  font-size 12px
  letter-spacing: 2px
  padding 3px 6px