.containerRow
  display: flex
  align-items: center
  flex-direction: row

.containerColumn
  display: flex
  align-items: center
  flex-direction: column

.tab
  display: flex
  justify-content: center
  align-items: center
  color rgba(255,255,255,1)
