// .main
//   width: 100%
//   background-color: #e3e3e3
//   white-space: nowrap

table
  width: 100%
  background-color: #e3e3e3
  position: relative
  // border-collapse: collapse
  white-space: nowrap
  // border-spacing: 1px
  border-collapse: collapse;
  th
    position: sticky
    top:0
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15)
    background-color: #EBEBEB
    color: rgba(10,18,32,.64)
    font-size: 12px
    font-weight: 400
    border-right: 1px solid #e3e3e3
  td
    padding: 8px 16px
    overflow:hidden
    text-overflow:ellipsis
    max-width: 300px
    color: rgba(10,18,32,.87)
    font-size: 12px
    font-weight: 400
    box-shadow: 1px 1px 1px #e3e3e3;
  tr
    height: 27px
    color: #3B3B3B
    &:hover
      background-color: #e2eefc
.tableList
  width: 100%
  background-color: #e3e3e3
  height: 100%
  .tableHead
    height 32px
    margin-left 5px
  .extra
    padding-left 5px
    background-color #FFF7A7
    input 
      border none
      background-color transparent
      color: #3B3B3B
      font-weight: 400
.thBox
  padding: 0px 0px 0px 10px
// .tableListTrColorOne
//   background-color: #FFFFFF
.tableListTrColorTwo
  background-color: #F7F8F8
// .focus
//   background-color: cornflowerblue
// .icon
//   // background-color: #adadad
//   height 20px
//   width 20px
//   cursor pointer
//   overflow hidden

