.toolbar
  width 33px
  border-right 1px solid #111
  background-color #2a2a2a
  
.toolbarButton
  width 32px
  height 32px
  margin-bottom 1px
  background-color #2a2a2a
  &_active
    background-color rgba(255,255,255,0.1)
    svg
      fill #00b7ff
