.outer
  width 308px
  height 88px
  position relative
.inner
  height 40px
  border 1px dashed rgba(255,255,255,0.2)
  width 228px
.baseInput
  width 40px!important
  border none!important
.input_top
  top 0
.input_right
  right 0
.input_bottom
  bottom 0
.input_left
  left 0