.box
  padding-left 42px
  padding-right 42px
.header
  font-weight 200
  background #151515
li
  list-style none
li + li
  margin-top 1px
.item
  min-height 56px
  background #2e2e2e
.label
  color #ddd
  width 130px
  margin-right 5px
.actionBox
  margin-left 12px
  div
    font-size inherit
  div + div
    margin-left 8px
input, textarea
  flex 1
  display inline-block
  border none
  outline none
  background-color transparent
  font-size inherit
  color inherit
  padding 0
  max-width 740px
textarea 
  resize none

.highlight
  background #292929