.publish
  position relative
  width 100vw
  height 100vh
  overflow hidden
.logoText
  font-size: 32px;
  height: 50px;
  letter-spacing: 0;
  font-weight: 400;
  width: 246px;
  border-bottom: 1px solid rgba(255,255,255,0.20);
  text-align: justify;
.logoSubText
  font-size: 16px;
  font-weight: 400;
  width: 246px;
  letter-spacing: 0;
  text-align: justify;
.nullSpan
  display: inline-block
  width: 100%;
.talign
  align-items baseline
.pwdInput
    background: transparent;
    border: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.10);
