.button
  display: grid
  place-items: center
  // border: none
  cursor pointer
  overflow hidden

.button:hover
  opacity 1
  color rgb(0,127,212) !important
  border-color rgb(0,127,212) !important 

.btn2 
  display: grid
  place-items: center
  // border: none
  cursor pointer
  overflow hidden
  color rgb(2, 96, 158) !important
  border-color rgb(2, 77, 127) !important 
