.page
  min-width 1080px
.header
  border-bottom 1px solid #000
  height 41px
  overflow hidden
  position relative
  z-index 19110
  box-shadow 0 1px 5px rgba(0,0,0,0.3)
.content
  margin auto
  max-width 1080px
.item
  min-height 56px
  background #2e2e2e
  border-bottom 1px solid #1a1a1a
.itemContent
  width 730px
.option
  cursor pointer
  color #579DFF
  &:hover
    color #8CC6F2
.label
  color #ddd
  width 130px
.section
  background #151515
.title
  font-weight 200
.avatar
  height 30px

.logo
  height 40px
  line-height 40px
  box-sizing border-box
  border-right 1px solid #1a1a1a
  padding 8px
  img
    height 100%
