@import '../../../../utils/theme-vars.styl'

.artLayerPanel
  border-right 1px solid #111
  background-color #2a2a2a
  width 160px
.hidden
  display none
.toolbarButton
  border-bottom 1px solid rgba(0,0,0,0.3)

.delta
  width 0
  border 8px solid transparent
  border-top-color themeColor
  transform rotate(-135deg)
  position absolute
  top -8px
  right -8px
.list
  background-color rgba(255,255,255,0.02)
  cursor pointer
  &:nth-child(2n + 1)
    background-color rgba(255,255,255,0.04)
  &:hover
    color rgba(255,255,255, 0.84)
    background-color rgba(255,255,255,0.06)
.pt0
  padding-top 0px
.noSelectLayerGroup
  background-color rgba(255,255,255,0)
  border-bottom 1px solid rgba(0,0,0,0.3)
.selectLayerItemBox
  background-color #0077ff !important
.layerTitle
  &:hover
    background-color #3a3a3a
