.layer
  overflow hidden
.layerItemBox
  border-bottom 1px solid rgba(0,0,0,0.3)
.selectLayerItemBox
  background-color rgba(255,255,255, 0.05)
.layerPanelContainer
  min-height 80px
  background-color rgba(255,255,255,0.03)
  line-height: 0
  background-position top center
  background-repeat: no-repeat
  background-size cover
.activeArt
  color #339BFF
  font-weight 400
.toolIconHighlight
  opacity .5
  &:hover
    opacity 1
