.maxWidth80
  max-width 80px
.maxWidth100
  max-width 100px
.minWidth140
  min-width 140px
.iconButton
  display inline
  margin-right 4px
.button
  border 1px solid rgb(255,255,255)
  display inline
  padding 0 2px
  margin-right 2px
  border-radius 2px