.activeSection
  background-color rgba(104, 149, 255, 0.2)
.toolbar
  overflow hidden
  height 32px
  min-height 32px
  // 设置z-index为0，下面的阴影才可以覆盖后面的元素
  // 设置z-index为11，用于显示iconButton中的toolTip
  z-index 11
  box-shadow 0 1px 5px rgba(0,0,0,0.4)
  input
    height 16px
    line-height 16px
    background-color transparent
    border none
    outline none
    padding 0
    width 100%
    color #fff
    &:focus
      border none
