.radio_box
  display flex
  align-items center
  height 24px
  cursor pointer
  :global(.radio-input)
    width 14px
    height 14px
    border 1px solid #0078FF
    margin-right 4px
  & label
    line-height 24px