.iconButton
  right -8px
.tipError
  color #FD0215
.tipSuccess
  color #7ED321
.valid
  & input
    &:focus
      border-bottom 1px solid #FD0215

// 自动填充无限 放慢填充的时间，，感知不到颜色的变化
input[type="password"]:-webkit-autofill,
input[type="password"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:focus,
input[type="password"]:-webkit-autofill:active {
    -webkit-transition-delay: 99999s
    -webkit-transition: color 99999s ease-out, background-color 99999s ease-out
}
