.rowBg
  &:nth-of-type(odd)
    background: rgba(255,255,255,0.04)
  &:nth-of-type(even)
    background: rgba(255,255,255,0.04)
  &:hover
    background: rgba(255,255,255,0.06)
.overflowYAuto
  overflow-y: auto