.close
  cursor pointer
  top 0px
  right 0px
  width 24px
  height 24px
  &:hover
    background-color rgba(255, 255, 255, 0.04)
.errorTip
  border 1px dashed #ffa500
  color #ffa500
  line-height 1.5
  font-weight 400
.container
  height 56px
.imageArea
  top 4px
  left 4px
  right 4px
  bottom 4px
  background-size contain
  background-repeat no-repeat
  background-position: center center
.selectHover
  &:hover
    background-color #1b1b1b
    cursor pointer
.image
  top 4px
  left 4px
  right 4px
  bottom 4px
  background-size contain
  background-repeat no-repeat
  background-position center center