.contentBox
  top 40px
  right 40px
  bottom 40px
  left 40px
  z-index -2

.marginBox
  border 1px dashed rgba(255, 255, 255, 0.1)

.paddingBox
  top 20px
  right 20px
  bottom 20px
  left 20px
  z-index -1
  border 1px dashed rgb(252, 187, 107)

.baseInput
  height 18px !important
  line-height 18px !important
  border-bottom 0 solid rgba(255, 255, 255, 0.1) !important

.marginTopInput
  left calc(50% - 10px)

.marginRightInput
  right 0
  top calc(50% - 9px)

.marginBottomInput
  left calc(50% - 10px)
  bottom 0

.marginLeftInput
  left 0
  top calc(50% - 9px)

.paddingTopInput
  top 20px
  left calc(50% - 10px)

.paddingRightInput
  right 20px
  top calc(50% - 9px)

.paddingBottomInput
  left calc(50% - 10px)
  bottom 20px

.paddingLeftInput
  left 20px
  top calc(50% - 9px)

