.box
  height 100vh
.member
  width 1280px
  padding 0 16px
  margin 0 auto
.scroll
  height 100%
.operateButton
  line-height 46px!important
  font-size 12px!important
  color #579DFF!important
  &:hover
    color #8CC6F2!important
.toolBar
  justify-content space-between
  align-items center
.totalAmount
  span
    color #579DFF
.inviteSearch
  position absolute
  right 0
.inviteBtn
  padding-top 0px!important
  padding-bottom 0px!important
.line
  color #0060f9
  line-height 56px
.tabHeader
  background-color #1a1a1a00
.roleName
  width 40px
  display inline-flex
.logo
  min-width 41px
  max-width 200px
.loading
  margin-top 20px
.footerText
  color #5f5f5f
  text-align center
  margin-top 30px
.iconButton
  background rgb(51, 51, 51)
.reset
  margin-left 10px
.searchbar
  box-shadow none !important
  height 22px !important
.countColor
  color rgb(87, 157, 255)
.count
  line-height 28px
  text-align center
  padding 0 10px
.modal
  padding 16px !important
  padding-top 16px !important
  overflow visible
.cancel
  border none
  background-color rgba(255, 255, 255, .2)
.cutLine
  border-right: 1px dashed rgba(255, 255, 255, .2)
.addUser
  border:  1px dashed rgba(255, 255, 255, .4)
  border-radius: 6px
  padding-left: 6px
  margin-right: 6px
  margin-bottom: 6px