.inputGroup
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.timePicker
  position: relative
  display: block
  text-align: center
  cursor: pointer

.timePicker::-webkit-datetime-edit-year-field
  color: white
  background-color: #00000000

.timePicker::-webkit-calendar-picker-indicator
  position: absolute
  left -27px
  height 100%
  width: 100%
  background-image: none
  cursor: pointer

.hide
  display: nonesaa 

.externalMainPicker
  position: absolute
  transform: translateY(100%)
  bottom: 0

.externalSecondPicker
  position: absolute
  transform: translate(100%, 100%)
  bottom: 0
