.drawer
  position absolute
  right -100%
  width 100%
  height 100%
  background-color rgb(75,75,75)
  transition right 1.5s
  z-index 21000
  overflow hidden
.visible
  right 0
.title
  background-color rgba(0,0,0,0.1)
  border-bottom 1px solid #111