.addEvent
  width 328px
  height 24px
  border 1px solid rgba(255, 255, 255, .2)
  line-height 24px
  text-align center
  &:hover
    background rgba(255, 255, 255, .1)

.eventSwitch
  height 14px
  width 28px
  &:after
    width 12px
    height 12px
    margin-top -6px
