.container
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.selectContainer
  flex: 1
  display: flex
  flex-direction: row
  align-items: center
  text-align: center

.select
  flex: 1
  position relative

.optionContainer::-webkit-scrollbar
  display: none

// 选项title文字居中
.textCenter
  text-align: center 
  cursor pointer