.container
  display: flex
  flex-direction: row
  justify-content: space-between

.selectContainer
  flex: 1
  display: flex
  flex-direction: row
  align-items: center
  text-align: center

.select
  flex: 1
  position relative

.optionContainer::-webkit-scrollbar
  display: none
  padding-left: 10px

.falseIcon 
  border-radius 50px
  border 1px solid rgb(140,140,140)
  background-color rgb(140,140,140)
  padding 3px  

.optionTextStyle 
  padding-left 20px

.noData
  background-color rgb(25,34,52)
  padding-bottom 20px 