@import '@utils/theme-vars.styl'
.root
  border-left 2px solid transparent
.root_folded
  margin-bottom 0
.name
  border-left 2px solid themeColor
  position sticky
  top 0
  left 0
  z-index 10
  text-shadow 1px 1px 1px #000
  background-color rgba(255, 255, 255, 0.05)
  backdrop-filter saturate(180%) blur(10px)
  &_folded
    border-left-color rgba(255,255,255,0.1)
  &_select
    border-left none
  &_bottom
    border-bottom 1px solid #2a2a2a

.enterAnimation
  animation-name enter
  animation-duration 3s

.foldAnimation
  transition all 0.2s ease

.paddingHide
  padding 0

@keyframes enter{
  from {
    border-left-color transparent
  }
  10% {
    border-left-color gold
  }
  40% {
    border-left-color transparent
  }
  50% {
    border-left-color gold
  }
  to {
    border-left-color transparent
  }
}
