.container
  display: flex
  flex-direction: column

.table
  display: flex
  flex-direction: column

.row
  display: flex
  flex-direction: row
  align-items: center
.cell
  // display: flex
  // align-items: center

.bar
  position: absolute
  z-index 1

.title
  display: flex
  align-items: center
  width: 100%
  z-index 99

.text
  display: flex
  align-items: center
  width: auto
  padding-left 10px
  padding-right 10px
  z-index 99
  
::-webkit-scrollbar 
  display: inline-block
  width 3px
  height 3px