.field
  line-height 0
  & input, & textarea, & select
    height 24px
    line-height: 24px
    background-color: transparent
    border none
    border-bottom 1px solid rgba(255,255,255,0.1)
    outline none
    padding 0
    width 100%
    color #fff
    transition border-bottom 0.3s ease
    &:focus
      border-bottom 1px solid themeColor
    &:disabled
      color #999
  & textarea
    resize vertical

.label
  line-height 24px
  margin-right 8px
  color #bbb