'@utils/theme-vars.styl'
.root
  z-index 21000
.mask
  position fixed
  top 0
  left 0
  bottom 0
  right 0
.layer
  overflow hidden
  position fixed
  z-index 21000
  box-shadow rgba(0, 0, 0, 0.4) 0px 0px 16px 0px

// for layer2.jsx
.layerBox
  overflow hidden
  position fixed
  z-index 21000
  box-shadow rgba(0, 0, 0, 0.4) 0px 0px 20px 0px
  backdrop-filter: saturate(180%) blur(20px)
  text-shadow: 1px 1px 4px #000
  background-color: rgba(75,75,75,0.5)


.content
  background-color #2a2a2a
  box-shadow 0 0 8px rgba(0,0,0,.5)
  border 1px solid #111
.title
  background-color rgba(0,0,0,0.1)
  // box-shadow 0 0 6px rgba(0,0,0,.5)
  border-bottom 1px solid #111
  line-height 2
.buttonWrapper
  background-color rgba(0,0,0,0.1)
  box-shadow 0 -1px 4px rgba(0,0,0,0.5)
.button
  color #fff
  text-align center
.isButtonLocked
  color #bbb
  background-color rgba(255, 255, 255, 0.1)
.cover
  position absolute
  top 0
  right 0
  bottom 0
  left 0 
  background #8989895e
  height 100vh
  position relative