@import '../../../utils/theme-vars.styl'

.delta
  width 0
  border 8px solid transparent
  border-top-color themeColor
  transform rotate(-135deg)
  position absolute
  top -8px
  right -8px

.activeMaterial
  color #339BFF
  font-weight 600

.gridWrap
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  margin auto
.grid
  max-width 100%
  max-height 100%
  display block
  margin auto
.thumbnail
  height auto
  max-height 192px
  width auto
  max-width: 100%
  display block
  margin auto
.toolbar
  overflow hidden
  height 32px
  min-height 32px
  // 设置z-index为0，下面的阴影才可以覆盖后面的元素
  // 设置z-index为11，用于显示iconButton中的toolTip
  z-index 11
  box-shadow 0 1px 5px rgba(0,0,0,0.4)
  input
    height 16px
    line-height 16px
    background-color transparent
    border none
    outline none
    padding 0
    width 100%
    color #fff
    &:focus
      border none

.removeButton
  right 0
  top 0
.thumbs
  overflow auto
.uploadArea
  width 420px
  height 150px
  border 1px dashed rgba(255,255,255, 0.3)
  cursor pointer
.preview
  height 360px
.previewImg
  max-height 200px
  max-width 100%
.thumb
  min-height 30px

