
.moadlMask
  position fixed
  height 100vh
  width 100vw
  z-index 10
.tabHead
  background-color #212121
  cursor default 
.bg29
  background #292929
.bg2e
  background #2e2e2e
.row
  overflow visible
.noData
  line-height 60px
  text-align center
.icon
  cursor pointer
  display inline-flex
.options
  position relative
  display inline-flex
  cursor pointer
  .option
    position absolute
    z-index 10
    top 30px
    left -60px
    background #0005
    min-width 100px
    line-height 30px
    text-align center
    backdrop-filter saturate(180%) blur(20px)
    .optionItem:hover
      background-color themeColor
.logo
  min-width 41px
  max-width 200px

.title
  display inline-flex
  line-height 100%
.loading
  margin-top 30px
