.swiper
    overflow hidden /*超出部分隐藏*/

.img_container{
    display flex
    transition transform 0.3s /*设置过渡效果*/
}

// 轮播点-位置
.num_container{
    position absolute
    bottom 10px
    left 40%
}
//轮播点-大小
.num_container button{
    margin-right 10px
    cursor pointer 
}
.num_container button:hover{
    background-color: rgb(123,135,161) 
    border none   
}
.btn {
    border-radius 40px
    border none
}


