.searchbar
  overflow hidden
  height 32px
  min-width 260px
  min-height 28px
  input
    height 16px
    line-height 16px
    background-color: transparent
    border none
    outline none
    padding 0
    width 100%
    color #fff
    &:focus
      border none
