@import '@utils/theme-vars.styl'

.iconGroupButton
  border 1px solid #2a2a2a
  height 30px
  width 30px
  background-color rgba(255,255,255,0.1)
  cursor pointer
  overflow hidden
  margin-left 8px
  svg 
    vertical-align middle
  &_active
    background-color themeColor!important
  &_alone
    border-radius 4px
  &_start
    border-radius 4px 0 0 4px
  &_center
    border-radius 0
    margin-left -1px
  &_end
    border-radius 0 4px 4px 0
    margin-left -1px
  &:hover
    background-color rgba(255,255,255,0.14)
  &:active
    background-color rgba(255,255,255,0.10)
