@import '../../utils/theme-vars.styl'

fontSize = 12px
nodeHeight = 24px
activeBackground = rgba(0,119,255, 0.6)
hoverBackground = rgba(0,119,255, 0.4)
borderLeftColor = rgba(255, 255, 255, .5)

.treeContainer
  user-select none
  overflow-x hidden
  overflow-y auto
  height 100%
  &:hover
    ::-webkit-scrollbar-thumb
      background themeColor
  .treeIcon
    height 24px
    width 24px
    margin-right 12px

.treeNode
  position relative
  height nodeHeight
  border-left 4px solid transparent
  &:hover
    background hoverBackground
  &_selected
    background activeBackground
    border-left 4px solid borderLeftColor
  &_inner
    overflow hidden
    height 100%
    padding-right 4px
  .treeBrage
    color #ffffff
    background #FF0000
    border-radius 15px
    min-width 20px
    height 15px
    font-size font-size
    line-height 15px
    text-align center
    padding 0 2px
  .treeActionBox
    z-index 99999
    position fixed
    top 0px
    background #fff
    padding 0
    margin 0
    box-shadow 1px 2px 10px rgba(0,0,0,.1)
  .treeNodeDetailBox
    max-width 300px
    background green 
    // right -8px
    .treeDetailRow
      display flex
      flex-direction row
      align-items baseline
      height auto
    .treeDetailItem
      padding 0 16px
      line-height 24px
    .treeDetailRowValue
      word-break break-all
  .actionItem
    height 24px
    line-height 24px
    padding-left 12px
    padding-right 16px
    border-left 4px solid transparent
    white-space nowrap
    min-width 80px
    &:hover
      background hoverBackground
      border-color borderLeftColor
.textHidden
  overflow hidden
  word-break break-all
  white-space nowrap
  text-overflow ellipsis